body{
    background:#202124;
    color:white;
    text-align:center;
    margin-top:120px;
    font-family:Arial;
}

button{
    padding:12px 25px;
    font-size:18px;
    background:orange;
    border:none;
}
